body{
    background-color: #FFBD1A;
}

img{
    height:250px;
}

.wrapper{
    width:100%;
    margin:auto;
}

.card{
    height:250px;
    padding: 15px;
    float:left;
}

.desc{
    font-family: 'Gloria Hallelujah', cursive;
    font-size:20px;
}

.score, .top-score{
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
}
